$ligth-text-color: #FFFFFF;
$primary-text-color:#252B42;
$add-text-color: #737373;
$green-color: #0D5C63;
$orange-color: #FF7B47;
$dark-bg-color: #252B42;
$dark-bgAdd-color: #17213C;

$content-width: 1046px;
$tablet-width: 768px;
$mobile-width: 320px;